<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>
    <h1>It's a <%=kindOfDay%>
    </h1>
</body>

</html>

<!-- Anything that is valid html will be valid for ejs file -->
<!-- To tell file where to put variables, ejs uses marker as used in line 12 of this file. -->