<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>

    <!-- Scriptlet tag will be used here for control flow. It works on line by line basis. We'll have to add it on every line of code that isn't html.
        Even if two lines consecutively have JS, we'll have to add it on both. {Read Tags section : https://ejs.co/} -->
    <h1>
        <%= kindOfDay %>
    </h1>

    <ul>
        <!-- // 3. use a for loop to render additions individually by looping through entire array -->
        <!-- // snippets tag added in each line where we have JS code below -->
        <% for(var i=0; i<newListItems.length; i++) { %>
            <li>
                <%= newListItems[i] %>
            </li>
            <% } %>

    </ul>

    <form class="" action="/" method="POST">
        <!-- 4. when the user adds a new item through the text input, it gets saved under the variable named 'newItem', 
            and we trigger a post request to the home route. Which will be caught by app.post method in app.js file. -->
        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>
    </form>

</body>

</html>
